Repository qiniu/qshell, pull requests merged in 2023-06, with the labels that each got.

#388 Update README.md
  README.md
Labels: size/S, approved

#384 Download support use io src domain
  cmd_test/download_get_test.go
  cmd_test/tools_test.go
  docs/get.md
  docs/qdownload.md
  go.mod
  go.sum
  iqshell/common/config/config_local.go
  iqshell/storage/object/download/downloader.go
  iqshell/storage/object/download/downloader_file.go
  iqshell/storage/object/download/operations/download_host.go
  iqshell/storage/object/download/slice_downloader.go
  iqshell/storage/object/download/url.go
Labels: approved, size/L, needs-ok-to-test

#383 stat output status and md5
  cmd_test/status_test.go
  docs/stat.md
  iqshell/storage/object/operations/status.go
Labels: approved, size/L, needs-ok-to-test

#391 Update README.md
  README.md
Labels: approved

#382 List v2 deprecated
  cmd/bucket.go
  cmd_test/bucket_list_test.go
  docs/listbucket2.md
  docs/token.md
  iqshell/load.go
  iqshell/storage/bucket/domain.go
  iqshell/storage/bucket/internal/list/list.go
  iqshell/storage/bucket/internal/list/list_v1.go
  iqshell/storage/bucket/internal/list/list_v2.go
  iqshell/storage/bucket/list.go
  iqshell/storage/bucket/operations/list.go
  iqshell/storage/object/download/operations/work_provider.go
Labels: approved, size/L, needs-ok-to-test

#392 version to 2.12.0
  CHANGELOG.md
Labels: size/S, needs-ok-to-test
